@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input:invalid, textarea:invalid, select:invalid {
        box-shadow: none;
    }
}

@layer utilities {
    [x-cloak] {
        display: none;
    }
}
